.vscode/*
[Tt]humbs.db
texHeaders.bin
*.sqfc
*.cache
*.pbo
*.swp
*.swo
[Ki]eys/*
*.biprivatekey
[Rr]eleases/*
[Rr]elease/*
@*
*.zip
tools/temp

# Hemtt Build tool
hemtt
hemtt.exe
hemtt-build.cmd
hemtt-launch.cmd
.hemttout

ArmaScriptCompiler.exe
sqfvm.exe
