.vscode/*
[Tt]humbs.db
texHeaders.bin
*.sqfc
*.cache
*.pbo
*.swp
*.swo
[Ki]eys/*
*.biprivatekey
[Rr]eleases/*
[Rr]elease/*
@*
*.zip
hemtt
hemtt.exe
.hemttout
ArmaScriptCompiler.exe
sqfvm.exe
tools/temp